:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 3rem;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card {
    max-width: 92rem;
    margin-top: 4.2rem;
    display: flex;
    flex-direction: row;
    transition: max-width .5s ease;
}

.card__type {
    height: 50rem;
    padding: 4.8rem;
    position: relative;
}

.card__type:nth-child(1) {
    max-width: 30.7rem;
    background-color: var(--bright-orange);
    border-radius: .8rem 0 0 .8rem;
}

.card__type:nth-child(2) {
    max-width: 30.6rem;
    background-color: var(--dark-cyan);
}

.card__type:nth-child(3) {
    max-width: 30.7rem;
    background-color: var(--very-dark-cyan);
    border-radius: 0 .8rem .8rem 0;
}

.card__title {
    font-size: 4rem;
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    margin-top: 3.2rem;
    margin-bottom: 2.5rem;
}

.card__description {
    margin-left: -0.05rem;
    font-size: 1.5rem;
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.667em;
    letter-spacing: 0.0014em;
}

.card__button {
    all: unset;
    width: 14.2rem;
    height: 4.4rem;
    position: absolute;
    bottom: 4.8rem;
    margin-top: 8.3rem;
    background-color: var(--very-light-gray);
    border: .2rem solid var(--very-light-gray);
    border-radius: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    transition: .25s;
    cursor: pointer;
}

.card__button:hover {
    background-color: transparent;
    color: var(--very-light-gray) !important;
}

.card__type:nth-child(1) .card__button {
    color: var(--bright-orange);
}

.card__type:nth-child(2) .card__button {
    color: var(--dark-cyan);
}

.card__type:nth-child(3) .card__button {
    color: var(--very-dark-cyan);
}

@media (max-width: 780px) {
    body {
        height: 150.2rem;
        margin: 0 6.4%;
    }

    .card {
        flex-direction: column;
        margin: auto;
        max-width: 32.7rem;
    }

    .card .card__type {
        height: auto;
        max-width: 32.7rem;
        padding: calc(49 / 327 * 100%);
        padding-bottom: 0;
    }

    .card__type:nth-child(1) {
        border-radius: .8rem .8rem 0 0;
    }

    .card__type:nth-child(1) .card__icon,
    .card__type:nth-child(2) .card__icon {
        margin-top: -0.1rem;
    }

    .card__type:nth-child(3) {
        border-radius: 0 0 .8rem .8rem;
        padding: calc(48 / 327 * 100%) calc(48.5 / 327 * 100%) 0 calc(47.5 / 327 * 100%);
    }

    .card__description {
        margin-right: auto;
        margin-bottom: 12.1rem;
    }

    .card__button {
        bottom: calc(48 / 442 * 100%);
    }

    @media (max-width: 208px) {
        .card__button {
            width: 67.5%;
        }
    }
}

.attribution {
    position: absolute;
    bottom: 1rem;
    font-size: 1.28rem;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(20, 15%, 75%);
    text-align: center;
}

.attribution a {
    color: hsl(20, 15%, 70%);
    transition: .25s;
    text-decoration: none;
}

.attribution a:hover {
    color: burlywood;
}

.attribution a:active {
    color: hsl(33.79, 100%, 70%);
}
