@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    /*Primary colors*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /*Neutral colors*/
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

html {
    font-size: 10px;
    background-color: var(--very-light-gray);
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 92rem;
    margin-top: 4.2rem;
    display: flex;
    flex-direction: row;
}

.card__type {
    height: 50rem;
    padding: 4.8rem;
    position: relative;
}

.card__type:nth-child(1) {
    max-width: 30.7rem;
    background-color: var(--bright-orange);
    border-radius: .8rem 0 0 .8rem;
}

.card__type:nth-child(2) {
    max-width: 30.6rem;
    background-color: var(--dark-cyan);
}

.card__type:nth-child(3) {
    max-width: 30.7rem;
    background-color: var(--very-dark-cyan);
    border-radius: 0 .8rem .8rem 0;
}

.card__type__title {
    font-size: 4rem;
    color: var(--very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    margin-top: 3.2rem;
    margin-bottom: 2.5rem;
}

.card__type__description {
    margin-left: -0.05rem;
    font-size: 1.5rem;
    color: var(--transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 2.5rem;
    letter-spacing: 0.002rem;
}

.card__type__button {
    width: 14.6rem;
    height: 4.8rem;
    position: absolute;
    bottom: 4.8rem;
    margin-top: 8.3rem;
    background-color: var(--very-light-gray);
    border: .2rem solid var(--very-light-gray);
    border-radius: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
}

.card__type__button:hover {
    background-color: transparent;
    color: var(--very-light-gray) !important;
}

.card__type:nth-child(1) .card__type__button p {
    color: var(--bright-orange);
    margin-top: -0.1rem;
}

.card__type:nth-child(2) .card__type__button p {
    color: var(--dark-cyan);
    margin-top: -0.1rem;
}

.card__type:nth-child(3) .card__type__button p {
    color: var(--very-dark-cyan);
    margin-top: -0.1rem;
    margin-left: -0.15rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 1.35rem;
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(20, 15%, 75%);
    text-align: center;
    margin-bottom: 1em;
}

.attribution a {
    color: hsl(20, 15%, 70%);
    transition: .25s;
    text-decoration: none;
}

.attribution a:hover {
    color: black;
}

.attribution a:active {
    color: #b4b4b4;
}

@media (max-width: 750px) {
    .container {
        height: 150.2rem;
    }

    .card {
        flex-direction: column;
        margin: auto;
    }

    .card .card__type {
        height: auto;
        max-width: 32.7rem;
        padding: calc(49 / 327 * 100%);
        padding-bottom: 0;
    }

    .card__type:nth-child(1) {
        border-radius: .8rem .8rem 0 0;
    }

    .card__type:nth-child(1) .card__type__icon,
    .card__type:nth-child(2) .card__type__icon {
        margin-top: -0.1rem;
    }

    .card__type:nth-child(3) {
        border-radius: 0 0 .8rem .8rem;
        padding: calc(48 / 327 * 100%) calc(48.5 / 327 * 100%) 0 calc(47.5 / 327 * 100%);
    }

    .card__type__description {
        margin-right: auto;
        margin-bottom: 12.1rem;
    }

    .card__type__button {
        width: calc(146 / 327 * 100%);
        bottom: calc(48 / 442 * 100%);
    }

    .card__type__button p {
        margin-top: -0.1rem;
    }
}
